.column {
  width: auto;
  text-align: center;
  display: inline-block;
  border: 5px solid black;
  border-radius: 20px;
  margin-top: 30px;
  padding: 15px;
}
.column h3 {
  color: olive;
  background-color: rgba(173, 216, 230, 0.716);
  border: 1px dashed grey;
}
.column2 {
  width: auto;
  text-align: center;
  display: inline-block;
  border: 5px solid black;
  border-radius: 20px;
  margin-top: 30px;
  padding: 15px;
}
.column2 h3 {
  color: red;
  background-color: rgba(255, 255, 0, 0.363);
  border: 1px dashed black;
}
.column3 {
  width: auto;
  text-align: center;
  display: inline-block;
  border: 5px solid black;
  border-radius: 20px;
  margin-top: 30px;
  padding: 15px;
}
.column3 h3 {
  color: green;
  background-color: rgba(144, 238, 144, 0.583);
  border: 1px dashed black;
}
img {
  float: left;
  border: 2px solid red;
  border-radius: 20px;
  height: 200px;
}
body {
  text-align: center;
}
